[Unit]
Description=CIRCLE firewall
After=network.target
Requires=firewall-init.service
After=firewall-init.service

[Service]
User=fw
Group=fw

WorkingDirectory=/home/fw/fwdriver

ExecStart=/bin/bash -c ". /home/fw/.virtualenvs/fw/bin/postactivate; . /home/fw/.virtualenvs/fw/bin/activate; exec celeryd -A fw -Q $(/bin/hostname -s).firewall  --loglevel=info -c 1"

Restart=always

[Install]
WantedBy=multi-user.target

